.winning {
	float: left;
	width: 134px;
}
.winning-line {
	position: absolute;
	top: 273px;
	opacity: 0;
}

.winning-line img:nth-child(1) {
	margin-left: 4px;
}
.winning-line img:nth-child(2),
.winning-line img:nth-child(3),
.winning-line img:nth-child(4) {
	margin-left: 5px;
}

.winning-line img:nth-child(5) {
	margin-left: 6px;
}
